* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    padding: 8px;
    margin-top: 200px;
}

body h2, 
body h3 {
    color: aquamarine;
    padding: 8px;
}

body form,
body form button {
    display:flex;
    align-items: center;
    flex-direction: column;
}

body form button {
    background-color: aquamarine;
    outline-color: aquamarine;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: 600px;
    width: 100px;
    margin-top: 8px;
}